.card-dessert-top {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.card-image-preview {
  flex-basis: 90px;
  flex-shrink: 0;
  height: 90px;
  border-radius: calc(var(--radius) * 0.75);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.card-image-preview:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow);
}
.card-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content-dessert {
  flex: 1;
}

.tags-dessert {
  padding: 0 1rem;
  margin-top: 0.75rem;
}
